<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<include>
		<xmlFile path='ExternalConfigurations/Common.config' search='all' include='all' required='true'/>
		<XmlFile Path='Additional.config' Search='Exact' Include='First' Required='true'/>
	</include>
	<AdditionalConfig F="InMain"/>
</configuration>
