<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<Include>
		<XmlFile Path='ExternalConfigurations\Common.config' Search='All' Include='All' Required='true'/>
		<XmlFile Path='Additional.config' Search='All' Include='All' Required='true'/>
	</Include>
	<AdditionalConfig F="InMain"/>
	<configProtectedData>
		<providers>
			<add name='RsaTestProvider'
				type='System.Configuration.RsaProtectedConfigurationProvider, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a'
				keyContainerName='MyTestKeys' useMachineContainer='true' />
		</providers>
	</configProtectedData>
</configuration>
