<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <AdditionalConfig F="InUpDirectory" />
  <MyExtConnection Server="localhost" Database="workDb" User="admin" Password="pass" />
	<!-- 
	This section could be encrypted as follows:
	
	RsaToolkit.exe import -f="testKey.xml" -n=TempKeyContainer
	RsaToolkit.exe encrypt -n=TempKeyContainer -c="Examples\Additional.config" -s=MySecuredConnection -p=RsaTestProvider
	RsaToolkit.exe remove -n=TempKeyContainer
	-->
  <MySecuredConnection configProtectionProvider="RsaTestProvider">
    <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element" xmlns="http://www.w3.org/2001/04/xmlenc#">
      <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
      <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
        <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <KeyName>Rsa Key</KeyName>
          </KeyInfo>
          <CipherData>
            <CipherValue>nuVrsKpWrpO/72QukW1S2Eve594fGFPh7d9Yh9+FWNt/oGRGK+9F+isHLY8MQuqkj3TgjTfNwhgvB6lF8B5BO+3W+CKj42Rtuapqb5Buy08IKBmyUkYcex5rgylbCvkMW3OsHjvl9QJEI8IjDBaOVfUcjoMZH0pfvZtxO5Gfer/1MM5skSJKSnQx9dfyqQBpPNJpSfVlXvAXq/x7vDhlJ8dxMUw/mNuieh4RpoF6JDz+wyQSBfHNUwXWPQbnTWVN8KHrv1QWlGtbe8D6EQbLHA4BmnB8MDA94vBAZ7c59c0U1cJAP6Q0Q28Qi+w9KuPqCe18Zm1dbQjqy++tGttBSA==</CipherValue>
          </CipherData>
        </EncryptedKey>
      </KeyInfo>
      <CipherData>
        <CipherValue>NsflbwU2nBYY/hllIByWwvSAOVdQX6UiN9cRcoXa4/FjwaJH19dTgriW81HGovoQ/igym2WHKnfafEp+xyS5BogtY97XgLStLzIhWvEPqSUI3dj+JalIzs0yzwB4vTF82vC0wtfyqhA=</CipherValue>
      </CipherData>
    </EncryptedData>
  </MySecuredConnection>
</configuration>