<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<ExtConfigure>
		<MyXmlCfg AttrField="attr field text">
			<ElemField>elem field text</ElemField>
		</MyXmlCfg>
		<IncludeFile Path="testConfig1.xml" Search="All" Include="First" Required="true"/>
		<IncludeXmlFile Path='Additional.config' Search='Exact' Include='First' Required='true'/>
	</ExtConfigure>
</configuration>