<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="ExtConfigure" type="Configuration.PlainXmlSection, Configuration"/>
	</configSections>

	<ExtConfigure>
		<MyXmlCfg AttrField="attr field text">
			<ElemField>elem field text</ElemField>
		</MyXmlCfg>
	</ExtConfigure>
</configuration>