<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="ExtConfigure" type="Configuration.PlainXmlSection, Configuration"/>
	</configSections>

	<ExtConfigure>
		<MyXmlCfg AttrField="attr field text">
			<ElemField>elem field text</ElemField>
		</MyXmlCfg>
	</ExtConfigure>

	<configProtectedData defaultProvider="SampleProvider">
		<providers>
			<clear/>
			<add name="RsaProvider"
				type="System.Configuration.RsaProtectedConfigurationProvider, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
				keyContainerName="SampleKeys" useMachineContainer="true" />
			<add name="DpapiProvider"
				type="System.Configuration.DpapiProtectedConfigurationProvider, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
				/>
		</providers>
	</configProtectedData>
</configuration>