<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="ExtConfigure" type="NConfiguration.PlainXmlSection, NConfiguration"/>
	</configSections>

	<ExtConfigure>
		<MyXmlCfg AttrField="attr field text">
			<ElemField>elem field text</ElemField>
		</MyXmlCfg>
		<IncludeFile Path="testConfig1.xml" Search="All" Include="First" Required="true"/>
	</ExtConfigure>
</configuration>